/* This is a comment */
body{
    background-color: rgb(250, 193, 245);
    font-size: 16px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 16px;
line-height: 1.5;
color: rgb(255, 255, 255);
margin: 7px;
padding: 1.5px;

}

h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 5.2px;
    text-align: center;
    text-decoration: underline;

    color:rgb(241, 75, 216)
    
}
h2 {
    font-size: 27px;
    font-weight: bold;
    line-height: 30.2px;
    text-align: center;
    text-decoration: underline;
    color: rgb(241, 75, 216);
    
}
h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: rgb(241, 75, 216);
    
}
#spiderman {
    color: aliceblue;
}
#noway {
    color: aliceblue;
}
#wakanda {
    color: aliceblue;
}


.icecream {
    color: rgb(241, 75, 216);
    margin-bottom: 1.6px;
}
.colors {
    color: rgb(241, 75, 216);
    margin-bottom: 1.5px;

}

#cookie {
    color: rgb(255, 255, 255);
    text-align: center;
    list-style-position: inside;
    font-weight: bold;
    text-decoration: underline;

}
#choc {
    color: rgb(255, 255, 254);
    text-align: center;
    list-style-position: inside;
    font-weight: bold;

}

#vanilla {
    color: rgb(255, 255, 255);
    text-align: center;
    list-style-position: inside;
    font-weight: bold;
}

#pink {
    color: rgb(246, 62, 242);
    text-align: center;
    list-style-position: inside;
    font-weight: bold;
}

#teal {
    color: aqua;
    text-align: center;
list-style-position: inside;
font-weight: bold;
}

#red {
    color: rgb(255, 6, 6);
    text-align: center;
    font-weight: bold;
list-style-position: inside;
}

p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black
}

button {
    background-color: rgb(255, 82, 200);
    border: none;
    border: radius 4px; ;
    font-size: 14px;
    cursor: pointer;


}
    
/* button:hover {
    background-color: aliceblue;

}
button:click {
    background-color: azure;
} */

button:hover {
    background-color: aliceblue;
}

canvas {
    border: 1px solid black;
}


